.Home {
	min-height: calc(100vh - 60px);
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Home h2 {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	color: #293845;
}

.Home main {
	width: 80%;
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
}

.Home main div {
	width: 145px;
	height: 209px;
	background: #ffffff;
	box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Home main div img {
	width: 129px;
	height: 193px;
}
